# Khóa chính của Docker Data - BỎ QUA TOÀN BỘ DATA THÔ
clickhouse/data/
clickhouse/logs/
grafana/data/
mongodb/data/
postgres_dw/data/
airflow/postgres_data/
metabase/data/          # 🔥 Thêm dòng này để bỏ qua toàn bộ DB ngầm của Metabase

# Khóa file nhị phân IP2Location lớn (Tránh đẩy lên Github gây tràn dung lượng)
airflow/dags/spark/warehouse/data/*.BIN

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Môi trường ảo (nếu có)
.venv/
venv/
env/